<div class="page-content">
 <div class="region region-header">
 {{ page.header }}
 <div class="sub-slogon">
 {{ sub_slogan }}
 </div>
 </div>
 <div class="region left-wrapper">
 {{ page.left_sidebar }}
 </div>
  <div class="region main-content-wrapper">
  {{ page.content }}
  </div>
  <div class="region right-wrapper">
 {{ page.right_sidebar }}
 </div>
  <div class="region region-footer">
 {{ page.footer }}
 </div>
  