<div class="weather-widget-wrapper">
Min.temp: {{ weather_data.main.temp_min }}
Max.temp: {{ weather_data.main.temp_max }}
Pressure: {{ weather_data.main.pressure }}
Humidity: {{ weather_data.humidity }}
Wind Speed: {{ weather_data.wind.speed }}
</div>